body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
h1, h2 {
    text-align: center;
}
.grid {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    gap: 10px;
    justify-content: center;
}
.footer{
    background-color: #FF5A5A;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
.seat {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.green {
    background-color: green;
    color: white;
}
.red {
    background-color: red;
    color: white;
    cursor: not-allowed;
}
button {
    margin-top: 5px;
    padding: 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
button[disabled] {
    cursor: not-allowed;
    opacity: 0.7;
}


.description{
    font-size: 42px;
}