{% extends 'concerts/base.html' %}
{% load static %}
{% block content %}
<h2 style="text-align: center;">Поиск концертов</h2>

<form method="get" action="{% url 'concert_list' %}">
    {{ form.as_p }}
    <button type="submit">Найти</button>
</form>

<h2 style="text-align: center;">Список концертов</h2>
<div class="concert-list">
    {% for concert in concerts %}
    <div class="concert-card">
        <img src="{{ concert.image.url }}" alt="{{ concert.name }}">
        <h3>{{ concert.name }}</h3>
        <p><strong>Дата:</strong> {{ concert.date }}</p>
        <p><strong>Цена:</strong> ${{ concert.price }}</p>
        <a href="{{ concert.id }}/">Подробнее</a>
    </div>
    {% endfor %}
</div>

{% if concerts|length == 0 %}
<p class="no-concerts">Концертов не найдено.</p>
{% endif %}
{% endblock %}
